<!-- メッセージとか -->
<p id="notice"><%= notice %></p>
<%= render 'layouts/show_danger_msg' %>

<div class="user_form">

  <h2>ユーザープロフィール</h2>

  <div class="line_info">
    <div class="line_content_1">
      <strong>メールアドレス:</strong>
      <%= @user.email %>
    </div>
  </div>


</div>
